# Python
**/.pytest_cache/
**/__pycache__/
venv/

# VS Code
.vscode/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

.DS_Store

tools/python
tools/vs-code
